@model SistemaSeguridad.APP.Models.LoginModel

@{
    ViewBag.Title = "Iniciar sesión";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>

    <!--Basic Styles-->
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/beyond.min.css")
    @Styles.Render("~/Content/demo.min.css")
    @Styles.Render("~/Content/animate.min.css")
    @Styles.Render("~/Content/animate.min.css")

    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

</head>
<body>


    <div class="row">
        <div class="login-container animated fadeInDown">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal ", role = "form", @id = "formulario-login" }))
                {
                    @Html.AntiForgeryToken()

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="login-container animated fadeInDown">
                        <div class="loginbox bg-white">
                            <div class="loginbox-title">Login</div>
                            <div class="loginbox-textbox">

                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Usuario" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="loginbox-textbox">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="loginbox-forgot">
                                <a href="">Olvide contraseña</a>
                            </div>
                            <div class="loginbox-submit">
                                <input class="btn btn-primary" value="Aceptar" type="submit">
                                <input class="btn" value="Cancelar" onclick="$('#formulario-login')[0].reset();" type="button">
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   @* @RenderSection("scripts", required: false)*@
</body>
<!--Basic Scripts-->


<!--Beyond Scripts-->
@*@Scripts.Render("/assets/js/slimscrolljquery/jquery.slimscroll.min.js")*@

</html>
